@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shojumaru&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shojumaru&display=swap');

:root{
	--color-contenido:#717A81;
	--fondo-header:#000;
	--color-gris:#979797;;
	--color-titulos:#303132;
	--color-azul:#4859fc;
	--color-azul-btn:#007bff;
	--color-subtitulos:#d2d2d2;
}
body{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: var(--color-contenido);
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Poppins', sans-serif;
}

.title{
	font-size: 50px;
	color:  var(--color-titulos);
	font-weight: 700;
	text-align: center;
	margin-bottom: 40px;
}


header{
	background-color: #000;
	padding: 20px 0;
	text-align: center;
}

#hero{
	background-image: url(../img/v36-intro.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding: 10% 0;
	color: #fff;
}


#hero h1,
#slides h1{
	font-size: 70px;
	font-weight: 700;
}

#hero h2,
#slides h2{
	font-size: 24px;
	margin-top: 40px;
	margin-bottom: 50px;
	color: #cacaca;
}

#hero .btn,
#products .btn{
	background-color: var(--color-azul-btn);
	text-transform: uppercase;
	padding: 15px 40px;
	font-weight: 600;
	letter-spacing: 1px;
	border-radius: 40px;
	color: #fff;
}



.subtitle{
	font-size: 18px;
	text-align: center;
	margin-bottom: 40px;
}

.section{
	padding: 80px 0;	
}

#what{
	text-align: center;
	margin:50px;
}

#what i{
	font-size: 50px;	
	color: var(--color-azul);
	margin-bottom: 40px;
}
#what article h3{
	font-size: 13px;
	font-weight: 800px;
	text-transform: uppercase;
	color: var(--color-titulos);
	letter-spacing: 1px;
}

#what article p{
	
	font-weight: 800px;
	
}

#products .title{
	text-align: left;
	color: #fff;
}

#products .subtitle{
	text-align: left;
	color: var(--color-subtitulos);
	font-size: 18px;
}

#products{
	background: var(--fondo-header);
}
.position{
	padding-left: 60px;
}




#pods .title{
	text-align: left;
	margin-top: 130px;
	margin-bottom: 5px;
}

#pods h3{
	text-transform: uppercase;
	color: var(--color-azul);;
	font-size: 13px;
	letter-spacing: 1px;
	margin-bottom: 30px;
}

#pods p{
	font-size: 20px;
	margin-bottom: 40px;
}


.btn-azul{
	color: var(--color-azul-btn);
	border-radius: 30px;
	border: 3px solid #007bff;
	padding: 10px 30px;
}

.btn-blanco{
	color: var(--color-gris);
	border-radius: 30px;
	border: 3px solid #979797;
	padding: 10px 30px;
	font-size: 13px;
}

.position-relative{
	padding-left: 130px;
}

#reviews{
	background-color: var(--color-azul);
	text-align: center;
}
#reviews .title{
	color: #fff;
	margin-bottom: 80px;
}

#reviews article{
	padding-left: 25px;
	padding-right: 25px;
}
#reviews .info-review{
	background-color: #fff;
	padding: 35px 20px;
	box-shadow: 0px 0px 20px 2px var(--color-azul);
	margin-bottom: 15px;
}

.info-review h3{
	color: var(--color-titulos);
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 30px;
}
.info-review h4{
	font-size: 14px;	
	font-weight: 400;
	margin-bottom: 20px;
}
.info-review p{
	font-size: 16px;
}

.info-review{
	margin: auto;
}


.info-review img {
    width: 200px; 
    height: 200px;
    margin-bottom: 15px;
}



footer{
	padding-top: 5%;
}
footer #info h3{
	font-size: 14px;
	
}
footer #copy{
	border-top: 1px solid #ddd;
	text-align: center;
	padding: 40px 0;
}





























